.nav-blue {
    background-color: #428bca;
}

.border-header {
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 0.05rem;
    box-sizing: inherit;
}

.sidebar {
    background-color: #f5f5f5;
}